.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.App-header {
  width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.isSelected {
  background-color: rgb(255, 255, 153, 0.9);
}

.Droppable {
  background-color: rgba(238, 234, 234, 0.9);
}

.Droppable.over {
  background-color: rgba(183, 240, 183, 0.9);
}

.Draggable {
  background-color: rgba(214, 206, 206, 0.9);
}

.Draggable.over {
  background-color: rgba(158, 157, 157, 0.5);
}