.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.App-header {
  width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}